@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/*Variables globales*/
* {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-size: auto;
}

:root {
    --color-negro:black;
    --header-color: #7f4199;
    --color-letra1:white;
    ---color-footer: #276eb5;
    --color-card: #47b876;
    --color-focus: #a9b2b3 ;
    --color-form:#bfc9ca;
;
}

a {
    text-decoration: none;
    color:var(--color-letra1)
}

ul {
    list-style-type: none;
}


/*Comienzo header y footer para todas la paginas-------------------------*/
header {
    background-color: var(--header-color);
    padding: 20px;
    color:var(--color-letra1);
}

header, .navegacion ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.navegacion ul li {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.navegacion ul li:hover {
    transform: scale(1.1);
}

@media (max-width:768px) {
    header {
        display:block;
    }
    .navegacion ul li {
        margin-top: 10px;
    }
    
    .acerca .__container {
        display: block;
    }
}

@media (min-width:1024px) {
    p, a, article {
        font-size: 1em;
    }
}

footer {
    width: 100%;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(---color-footer);
}   

footer ul {
    display: flex;
    justify-content: space-evenly;
}

.icon-footer {
    width: 1.5em;
    height: auto;
}

footer ul li {
    margin: 10px;
}

footer p {
    padding: 5px;
}

/*Fin----------------------------------------------------*/

/*Comienzo index------------------------------------------*/
.acerca {
    margin:2em;
}

.__container {
    display: flex;
    margin:1em;
}

.__img-juan img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/*Fin-------------------------------------------------------*/

/*Comienzo proyectos----------------------------------------*/
.section-proyectos {
    margin:2em;
}

.proyectos {
    margin: auto;
    margin: min(10px, 10px, 5px, 10px);
    display: grid;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(360px, 1fr)
        );
    place-items: center;
}

.proyecto {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin:15px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 350px;
    background-color: var(--color-card);
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 10px var(--color-card);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.proyecto:hover {
    transform: scale(1.1);
}

.proyecto__item {
    margin:10px;
}

.--img {
    width: 300px;
    border-radius: 10px;
    border: 2px solid black;
}
/*Fin -------------------------------------------------------*/

/*Formulario de contacto ---------------------------*/
.contacto {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contacto h2 {
    margin:1em
}

.form {
    border:2px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-form);
}

.form__campo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin:5px;
}

.form__campo input, textarea {
    border:none;
    border-radius: 5px;
    padding:2px;
}
.form__campo input:focus{
    background-color: var(--color-focus) ;
}

.form__campo textarea:focus{
    background-color: var(--color-focus) ;
}
/*Fin-------------------------------------------*/